html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#f72585,#3a0ca3);
}
h1{
    text-align: center;
    color: #edadca;
    text-shadow: 2px 1px 3px #dcfbff;
}
div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px inset #ff44ee;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    color: #edadca;
    box-shadow: 11px 11px 15px 2px #dcfbff;
}
div.linked{
    position: fixed;
    border-radius: 5px;
    background: linear-gradient(#f72585,#edadca);
    color: #3a0ca3;
    right: 5px;
    bottom: 3px;
    height: 15px;
    padding-bottom: 5px;
}
a{
    text-align: center;
    color: #3a0ca3;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 3px;
}