h1{
    text-align: center;
    color: #e63946;
}
.caja1{
    padding: 10px;
    border: 15px solid #457b9d;
    margin: 40px 80px 40px 80px;
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100px;
    outline: 10px solid #a8dadc;
    outline-offset: 3px;
    box-sizing: border-box;
}
.caja2{
    padding: 10px;
    border: 15px solid #457b9d;
    margin: 20px 60px 20px 60px;
    background-color: #f1faee;
    max-width: 300px;
    max-height: 100px;
    outline: 10px solid #a8dadc;
    outline-offset: 3px;
    box-sizing: border-box;
}
.interno{
    margin: inherit;
}